extends layouts/layout

block content
  div.row
    div.col-xs-1
      div.btn-group(role='group')
        a.btn.btn-primary(type='button', role='button', href='/cal') Go Back to Calendar
  br
  div.row
    ul.nav.nav-tabs(role='tablist')
      li(role='presentation')
        a(href='#staff', aria-controls='staff', role='tab', data-toggle='tab') Staff
      li.active(role='presentation')
        a(href='#shifts', aria-controls='shifts', role='tab', data-toggle='tab') Shifts
      li(role='presentation')
        a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings

    div.tab-content
      div.tab-pane#staff(role='tabpanel')
        div.well
          p This is the staff well
      div.tab-pane.active#shifts(role='tabpanel')
        div.well
          div.container-fluid
            div.row
              button.btn.btn-default.btn-info#override-shift(role='button', data-toggle='collapse',
              data-target='#shift-override', aria-expanded='false', aria-controls='shift-override') Modify Shifts
              button.btn.btn-info#create-shift(type='button', role='button', data-toggle='collapse',
              data-target='#shift-creation', aria-expanded='false', aria-controls='shift-creation') Create Shifts
            br
            br
            div.row
              div.collapse#shift-override
                h4.
                  This form is used to modify existing shifts. If you want to create weekly shifts, please use the
                  'Create Shifts' form.
                br
                div.col-md-2
                  form#modify-search-form
                    div.form-group
                      label.control-label(for='override-date') Select a date:
                      input.form-control.input-small#override-date(type='text', data-provide='datepicker',
                      data-date-autoclose='true', placeholder='01/10/2016', name='date')
                    div.form-group
                      label.control-label(for='override-shift-owner') Shift owner:
                      input.form-control#override-shift-owner(type='text', placeholder='Louis Brandeis', name='owner')
                    label.control-label(for='sub-request-begin-time')
                      small
                        i (Optional)
                      p From:
                    div.input-group.bootstrap-timepicker.timepicker
                      span.input-group-addon.glyphicon.glyphicon-time
                      input.form-control.input-small#sub-request-begin-time(type='text', placeholder='8:45 am', name='beginTime')
                    br
                    label.control-label(for='sub-request-end-time')
                      small
                        i (Optional)
                      p To:
                    div.input-group.bootstrap-timepicker.timepicker
                      span.input-group-addon.glyphicon.glyphicon-time
                      input.form-control.input-small#sub-request-end-time(type='text', placeholder='2 pm', name='endTime')
                    br
                    a.btn.btn-info.center-block#modify-search-form-btn(type='submit') Search for shifts
                    br
                  form#modify-submit-form(action='/shifts/update', method='post', hidden='true')
                    btn.btn.btn-default#modify-search-again-btn Perform new search
                    h4 Update the selected shifts:
                    div.form-group
                      label.control-label(for='override-shift-replacement')
                        small
                          i (Optional)
                        p Replace owner:
                      input.form-control#override-shift-replacement(type='text', placeholder='Ollie Owl', name='replacement')
                    label.control-label(for='sub-request-begin-time')
                      small
                        i (Optional)
                      p Modify start time:
                      div.input-group.bootstrap-timepicker.timepicker
                        span.input-group-addon.glyphicon.glyphicon-time
                        input.form-control.input-small#sub-update-begin-time(type='text', placeholder='8:45 am', name='newBeginTime')
                      br
                      label.control-label(for='sub-request-end-time')
                        small
                          i (Optional)
                        p Modify end time:
                      div.input-group.bootstrap-timepicker.timepicker
                        span.input-group-addon.glyphicon.glyphicon-time
                        input.form-control.input-small#sub-update-end-time(type='text', placeholder='2 pm', name='newEndTime')
                      br
                      button.btn.btn-info.center-block#modify-submit-form-btn(type='submit') Submit Changes
                      br
                div.col-md-8
                  div.table-responsive
                    table.table.table-striped.table-bordered.table-hover.table-condensed#shift-override-table
                      thead
                        tr
                          th Shift Date
                          th Owner
                          th Start Time
                          th End Time
                      tbody#shift-override-results

            div.collapse#shift-creation
              h4.
                This form is used to create weekly shifts. If you want to modify shifts, please use the 'Modify Shifts'
                form.
              br
              div.col-md-6
                form#create-shift-form(action='/shifts/new', method='post')
                  div.form-group
                    p Select which days this shift should apply:
                    div.checkbox-inline
                      input.checkbox-input#create-shift-mon(type='checkbox', name='days[]', value='Mon')
                      label(for='create-shift-mon') Mon
                    div.checkbox-inline
                      input.checkbox-input#create-shift-tue(type='checkbox', name='days[]', value='Tue')
                      label(for='create-shift-tue') Tue
                    div.checkbox-inline
                      input.checkbox-input#create-shift-wed(type='checkbox', name='days[]', value='Wed')
                      label(for='create-shift-wed') Wed
                    div.checkbox-inline
                      input.checkbox-input#create-shift-thur(type='checkbox', name='days[]', value='Thur')
                      label(for='create-shift-thur') Thur
                    div.checkbox-inline
                      input.checkbox-input#create-shift-fri(type='checkbox', name='days[]', value='Fri')
                      label(for='create-shift-fri') Fri
                    div.checkbox-inline
                      input.checkbox-input#create-shift-sat(type='checkbox', name='days[]', value='Sat')
                      label(for='create-shift-sat') Sat
                    div.checkbox-inline
                      input.checkbox-input#create-shift-sun(type='checkbox', name='days[]', value='Sun')
                      label(for='create-shift-sun') Sun
                  div.col-md-4
                    div.form-group
                      label.control-label(for='create-shift-from-date') Date from:
                      input.form-control.input-small#create-shift-from-date(type='text', data-provide='datepicker',
                      data-date-autoclose='true', placeholder='01/10/2016', name='fromDate')
                      br
                      label.control-label(for='create-shift-to-date') Until:
                      input.form-control.input-small#create-shift-to-date(type='text', data-provide='datepicker',
                      data-date-autoclose='true', placeholder='01/10/2016', name='toDate')
                    div.form-group
                      label.control-label(for='shift-create-owner') Shift owner(s):
                      textarea.form-control#shift-create-owner(rows='4', placeholder='Louis Brandeis, Ollie Owl',
                      name='owners')
                    button.btn.btn-info.center-block(type='submit') Submit Changes
                    br
                  div.col-md-4
                    div.form-group
                      label.control-label(for='shift-create-begin-time') Time from:
                      div.input-group.bootstrap-timepicker.timepicker
                        span.input-group-addon.glyphicon.glyphicon-time
                        input.form-control.input-small#shift-create-begin-time(type='text', placeholder='8:45 am',
                        name='beginTime')
                      br
                      label.control-label(for='shift-create-end-time') Until:
                      div.input-group.bootstrap-timepicker.timepicker
                        span.input-group-addon.glyphicon.glyphicon-time
                        input.form-control.input-small#shift-create-end-time(type='text', placeholder='2 pm',
                        name='endTime')
                    div.form-group
                      div.checkbox-inline
                        input.checkbox-input#create-shift-all-day(type='checkbox', value='y', name='allday')
                        label.control-label(for='create-shift-all-day') All day?
                          br
                          i
                            small (Leave above times blank)
          div#temp-cal
      div.tab-pane#settings(role='tabpanel')
        div.well
          p This is the settings well