div.collapse#shift-override
  h4.
    This form is used to modify existing shifts. If you want to create weekly
    shifts, please use the 'Create Shifts' form.
  br
  div.col-md-2
    form#modify-search-form
      div.form-group
        label.control-label(for='override-date') Select a date:
        input.form-control#override-date(type='text',
        data-provide='datepicker',
        data-date-autoclose='true', placeholder='01/10/2016', name='date')
      div.form-group
        label.control-label(for='override-shift-owner')
          small
            p <i>(Optional)</i> Shift Owner:
        input.form-control#override-shift-owner(type='text',
        placeholder='Louis Brandeis', name='owner')
      div.form-group
        label.control-label(for='sub-request-begin-time')
          small
            p <i>(Optional)</i> From:
        div.input-group.bootstrap-timepicker.timepicker
          span.input-group-addon.glyphicon.glyphicon-time
          input.form-control#sub-request-begin-time(type='text',
          placeholder='8:45 am', name='beginTime')
      div.form-group
        label.control-label(for='sub-request-end-time')
          small
            p <i>(Optional)</i> To:
        div.input-group.bootstrap-timepicker.timepicker
          span.input-group-addon.glyphicon.glyphicon-time
          input.form-control#sub-request-end-time(type='text',
          placeholder='2 pm', name='endTime')
      div.form-group
        a.btn.btn-info.center-block#modify-search-form-btn(type='submit') Search for shifts
    form#modify-submit-form(action='/shifts/update', method='post', hidden='true')
      btn.btn.btn-default#modify-search-again-btn Perform new search
      h4 Update the selected shifts:
      div.form-group
        label.control-label(for='override-shift-replacement')
          small
            p <i>(Optional)</i> Replace Owner:
        input.form-control#override-shift-replacement(type='text',
        placeholder='Ollie Owl', name='replacement')
      label.control-label(for='sub-request-begin-time')
        small
          p <i>(Optional)</i> Modify start time:
        div.input-group.bootstrap-timepicker.timepicker
          span.input-group-addon.glyphicon.glyphicon-time
          input.form-control#sub-update-begin-time(type='text',
          placeholder='8:45 am', name='newBeginTime')
        br
        label.control-label(for='sub-request-end-time')
          small
            p <i>(Optional)</i> Modify end time:
        div.input-group.bootstrap-timepicker.timepicker
          span.input-group-addon.glyphicon.glyphicon-time
          input.form-control#sub-update-end-time(type='text',
          placeholder='2 pm', name='newEndTime')
        br
        button.btn.btn-info.center-block#modify-submit-form-btn(type='submit') Submit Changes
        br
  div.col-md-8
    div.table-responsive
      table.table.table-striped.table-bordered.table-hover.table-condensed#shift-override-table
        thead
          tr
            th Shift Date
            th Owner
            th Start Time
            th End Time
        tbody#shift-override-results